__pycache__/
ottosave_202607241508_before-refactor.py
visual.html
viewer.ui
archive_index.json
comment_index_obc.json
comment_index_user.json
_test.py
_side_1.py
*.pyc
.idea/
*.obarc
*.obchk
run.py
rank_actual.py
run2.py
to-do.txt
oh_general.db